
@media screen and (max-width: 1024px) {
   
  }
  /* Small screens */
  @media screen and (max-width: 500px) {
   
  
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-nav i {
      margin: 0;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100%;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text {
      left: 0px;
    }
  }



  