/* Configurações iniciais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-third: var(#000000);

  --transition-speed: 600ms;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary);
}

main {
  margin-left: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
}

.container {
  margin-top:40% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-secondary);
  background-color: var(--bg-third);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

 #container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top,rgba(73, 219, 193, 1),#73ffe1);
  clip-path: circle(80% at 50% 5px);
  z-index: -1; /* Adicionado */
} 

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* main {
  margin-left: 20rem;
  padding: 1rem;
} */




.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third: #23232e;
    --special: #49dbc1;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --text-tertiary: #d0cdd3;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --bg-third: #ffffff;
    --special: #49dbc1;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
